---
title: Frank Alkema
---
<div class= "banner" style="background-image:linear-gradient(-225deg, rgba(210,220,228,0.7) 0%, rgba(208,212,216,0.7) 50%) ,url(<%= image_path 'javascript.jpg'%>)">
  <div class="banner-content">
    <div class="banner-text">
    <h1>Frank Alkema Junior Web developer</h1>
    </div>
    <div class="banner-links">
      <%= link_to  "", '#', class: "fab fa-github"  %>
      <%= link_to  '', '#', class: "fab fa-linkedin" %>
      <%= link_to  '' , '#', class: "fas fa-envelope" %>
    </div>
  </div>
</div>


<h2>Skills</h2>
<ul>
  <li>Ruby on Rails</li>
  <li> JavaScript</li>
  <li> HTML</li>
  <li>CSS</li>
  <li>SQL</li>
</ul>


<h2>Work</h2>

<%= link_to "Spacemaker", '#' %>
<%= link_to "Weekender", '#' %>


<h2>About</h2>
<p>I am a 27 year old Junior Web Developer from Utrecht. After my Bachelors degree switched from HR to web development. Thanks to the Le Wagon coding Bootcamp I learned a lot of new skills. With these new skills i worked on 2 projects. The first project I worked on was Spacemaker. Here people could rent storagespace from people in their area.</p>
