---
title: Frank Alkema
---
<div class= "banner" style="background-image:linear-gradient(-225deg, rgba(210,220,228,0.7) 0%, rgba(208,212,216,0.7) 50%) ,url(<%= image_path 'javascript.jpg'%>)">
  <div class="banner-content">
    <div class="banner-text">
      <h1>Frank Alkema </h1> <h3>Junior Web developer</h3>
    </div>
    <div class="banner-links">
      <%= link_to  "", 'https://github.com/Frank4lkema', class: "fab fa-github" ,target: "_blank"  %>
      <%= link_to  '', 'https://www.linkedin.com/in/frankalkema/', class: "fab fa-linkedin" ,target: "_blank"  %>
      <%= link_to  '' , 'mailto:frank.alkema@icloud.com', class: "fas fa-envelope" ,target: "_blank"  %>
    </div>
  </div>
</div>


<div class="row">
  <div class="card card-title  background-grey col-xs-12 col-sm-6">
    <h2>Skills</h2>
  </div>
  <div class="card col-xs-12  col-sm-6 skils-list">
    <span class="test"></span>
  </div>
</div>
<div class="row">
  <div class="card card-title  col-xs-12 col-sm-6">
    <h2>Work</h2>
  </div>
  <div class="card col-xs-12 background-grey col-sm-6 padding-zero">
    <%= partial 'partials/photo_grid' %>
  </div>
</div>
<div class="row">
  <div class="card  card-title  background-grey silde-show col-xs-12 col-sm-6">
    <h2>About</h2>
  </div>
  <div class="card col-xs-12 col-sm-6 absolute ">
    <div class="about">
      <p>I am a 27 year old Junior Web Developer from Utrecht. After my Bachelors degree I switched from HR to web development. <br><br>Thanks to the Le Wagon coding Bootcamp I learned a lot of new skills. <!-- With these new skills I worked on 2 projects. --> <br><br> The first project I worked on was Spacemaker. Here people could rent storagespace from people in their area. <br><br>The second project I worked on was Weekender. This web application let's you easly  create personilized Itineraries for major cities in Europe.</p>
    </div>
    <div class= "relative">
      <%= image_tag 'avatar.jpg', class: "profile" %>
    </div>
  </div>
</div>

